.error {
    color: red;
}

h2 {
    font-size: 1.1em;
}

.games-list {

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.div-containers {
    border-radius: 10px;
    border: 2px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    
    display: flex;
    width: 300px;
    background-color: rgb(175, 173, 173);
    flex-direction: column;
    align-items: center;
}
  

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: 8px;
    border-radius: 50%;
    border: 12px solid rgb(98, 187, 231);
    border-color: rgb(98, 187, 231) transparent rgb(98, 187, 231) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
